{% set psn_id = index() %}
{% set psn_age = integer(start=18, end=100) %}
{% set psn_name = name() %}
{% set psn_email = email() %}
{% set psn_active = bool() %}
{% set psn_include = get_random(end=2) %}

{
    "id": {{ psn_id }},
    "age": {{ psn_age }},
    "name": "{{ psn_name }}",
    "email": "{{ psn_email }}",
    "active": {{ psn_active }},
    {% if psn_include == 1 %}
    "include": true,
    {% endif %}
    "jsonable": {
        "id": {{ psn_id }},
        "age": {{ psn_age }},
        "name": "{{ psn_name }}",
        "email": "{{ psn_email }}",
        "active": {{ psn_active }}
        {% if psn_include == 1 %}
        ,"include": true
        {% endif %}
    },
    "nestable": {
        "id": {{ psn_id }},
        "age": {{ psn_age }},
        "name": "{{ psn_name }}",
        "email": "{{ psn_email }}",
        "active": {{ psn_active }}
        {% if psn_include == 1 %}
        ,"include": true
        {% endif %}
    }
}
